{% extends './newbase.html' %}
{% load static %}
{% block title %}Order Page{% endblock title %}
{% block main-content %}

<div class="container py-5">
  This Website is made by:
  <div class="row ">
    <div class="col-4 mt-2 mb-2">
      <div class="card about-card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'app/images/about/kritika.png' %}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text name">Kritika Shrestha Tusuju</p>
          <p class="card-text id"> <span style="font-weight: bold; color: d2679d;">Id:</span> 4553606</p>
          <a href="mailto:kritikashresthatusuju@gmail.com" class="card-text email">kritikashresthatusuju@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="col-4 mt-2 mb-2">
      <div class="card about-card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'app/images/about/kshitiz.png' %}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text name">Kshitiz Bhatta</p>
          <p class="card-text id"> <span style="font-weight: bold; color: d2679d;">Id:</span> 4551010</p>
          <a href="mailto:kshitizbhatta0@gmail.com" class="card-text email">kshitizbhatta0@gmail.com</a>
        </div>
      </div>
    </div>
   
    <div class="col-4 mt-2 mb-2">
      <div class="card about-card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'app/images/about/zyoti.png' %}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text name">Zyoti Pokhrel</p>
          <p class="card-text id"> <span style="font-weight: bold; color: d2679d;">Id:</span> 4555675 </p>
          <a href="mailto:pokhrelsusmita07@gmail.com" class="card-text email">pokhrelsusmita07@gmail.com</a>
        </div>
      </div>
    </div> 
    <div class="col-4 mt-2 mb-2">
      <div class="card about-card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'app/images/about/bijay.png' %}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text name">Bijay Shrestha</p>
          <p class="card-text id"> <span style="font-weight: bold; color: d2679d;">Id:</span> 4537487</p>
          <a href="mailto:bijaystha2060@gmail.com " class="card-text email">bijaystha2060@gmail.com </a>
        </div>
      </div>
    </div>
   
    <div class="col-4 mt-2 mb-2">
      <div class="card about-card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'app/images/about/jitendra.png' %}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text name">Jitendra Khadka</p>
          <p class="card-text id"> <span style="font-weight: bold; color: d2679d;">Id:</span> 4555638</p>
          <a href="mailto:Jitendrabikramkhadka777@gmail.com" class="card-text email">Jitendrabikramkhadka777@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="col-4 mt-2 mb-2">
      <div class="card about-card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'app/images/about/pratyush.png' %}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text name">Pratyush Bhatta</p>
          <p class="card-text id"> <span style="font-weight: bold; color: d2679d;">Id:</span> 4550617</p>
          <a href="mailto:pratyushbhatta121@gmail.com" class="card-text email">pratyushbhatta121@gmail.com</a>
        </div>
      </div>
    </div>
   
  </div>


</div>
{% endblock main-content %}