{% extends 'app/newbase.html' %}

{% block title %}Register{% endblock title %}


{% block main-content %}

<br>
<br>
<div class="container mt-5">

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-8 col-lg-5 col-12">
        <form action="" method="POST" novalidate class="shadow p-1">
          <div class="row text-center p-2">
            <div class="card-header">
                <h4 class="text-center">Login</h4>
            </div>
        </div>
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" value="Submit">
          <a href="{% url 'register' %}">Not Register yet?</a>
        </form>

      </div>
    </div>
  </div>

</div>
<br>
<br>

{% endblock main-content %}